<div class="row" ng-controller="FacebookCtrl">
  <div class="col-md-4">
      <h4>{{welcomeMsg}}</h4>
      <div ng-if="isLoggedIn == true">
          <a href="#" target="_blank"><img ng-src="{{picture}}" alt="User Profile Image"></a>
      </div>
      <br>
      <div ng-if="isLoggedIn == false">
          <button type="button" class="btn btn-default" ng-click="login()">Login</button>
      </div>
      <div ng-if="isLoggedIn == true">
          <button type="button" class="btn btn-default" ng-click="logout()">Logout</button>
      </div>
      <br>
      <div ng-if="isLoggedIn == true" class="well">
          <h4>User Info</h4>
          <ul>
              <li>ID:    {{userInfo.id}}</li>
              <li>Name:    {{userInfo.name}}</li>
              <li>Email:     {{userInfo.email}}</li>
              <li>Gender:    {{userInfo.gender}}</li>
              <li>Locale: {{userInfo.locale}}</li>
          </ul>
      </div>
      <br>
      <div class="well" ng-if="isLoggedIn == true">
          <h4>Permissions</h4>
          <ul>
              <li ng-repeat="permission in permissions">{{permission.permission}} - {{permission.status}}</li>
          </ul>
      </div>
  </div>
  <div class="col-md-8">
      <h3>Welcome to Facebook!</h3>      
      <div ng-if="isLoggedIn == true">
          <form ng-submit="postStatus()">
              <div class="form-group">
                  <label>Status Update</label>
            <!-- use an ng-model on the textarea so we can grab what's inserted in it-->
                  <textarea ng-model="body" class="form-control" id="" cols="10" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
          </form>
          <br>
          <div ng-repeat="posts in posts" class="stbody">
              <div class="stimg">
                  <img ng-src="{{picture}}" alt="">
              </div>
              <div class="sttext">
                  {{post.message}}
                  <div class="sttime">{{post.updated_time}}</div>
              </div>
          </div>
      </div>
      <p ng-if="isLoggedIn == false">Please log in if you wish to post!</p>
  </div>
</div>